* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: url('img/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: rgb(73, 0, 0);
    color: #cecece;
    padding: 40px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: rgb(255, 255, 255);
}

section {
    padding: 20px;
    margin: 200px 0;
    background: rgba(168, 168, 168, 0.904);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(240, 231, 231);
}

h2 {
    border-bottom: 2px solid #2bff00;
    padding-bottom: 10px;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.projeto {
    background: #E8E8E8;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}

.projeto img {
    max-width: 100%;
    border-radius: 8px;
}

.projeto:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background: rgb(65, 1, 1);
    color: #b69b00;
    text-align: center;
    padding: 15px 0;
}
